.background-header {
	-fx-background-color: #6969FF;
}

.label {
	-fx-font-size: 16pt;
	-fx-font-family: "Segoe UI Semibold";
}

.label-header-small {
	-fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}